/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #009688;
  --f7-theme-color-rgb: 0, 150, 136;
  --f7-theme-color-shade: #006d63;
  --f7-theme-color-tint: #00bfad;
}

/* Your app custom styles here */


.page-stopwatch {
  .watch-display {
    font-size: 45px;
    font-weight: bold;

    .time-ms {
    }
  }

  .laps-table-block {
    height: 55%;
    overflow-y: scroll;
  }

  .laps-table {
    width: 100%;
    text-align: center;

    td.sno {
      width: 20%
    }

    td.time, td.difference {
      width: 40%
    }

    td {
      font-weight: bold;
      padding: 5px;
    }
  }
}